html{
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
  background-color:rgba(245, 245, 245, 0.93);
}
body{
  /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(245, 245, 245, 0.4);
  height: 100%;
  width: 100%;
  /* opacity: 1; */
  transition:none;
}
body.fade-out {
    /* opacity: 0; */
    transition: none;
}
/* @media only screen and (max-width: 500px)
{
  body{
    background: #000 !important;
  }
} */
a{
  color : #777;
  text-decoration: none;
}a:hover{
  color : #777;
  text-decoration: none;
}
.padding-top{
  padding-top: 20px;
}.login-page{
  width: 350px;
  margin: 1% 28% auto;
  /*margin-left: 200px; */
  padding: 0 20px;
  background-color: #fafafa;
  border: 1px solid #f2f2f2;
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
}
/* .center_div{
  margin: 0 auto;
  width:80%
} */
.login-page .text-center{
  margin-bottom: 10px;
}.box{
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #f2f2f2;
}.page{
  position: relative;
  display: block;
  top: 35px;
  left: 0;
  padding: 0px 10px 20px 210px;
}
.page_report{
  position: relative;
  display: block;
  top: 35px;
  left: 0;
  padding: 0px 10px 20px 30px;
}

.bg-green{
  background-color: white;
}
.bg-blue{
  background-color: white;
}
.bg-yellow{
  background-color: white;
}
.bg-red{
  background-color: white;
}
.panel-default >.panel-heading {
  background-color: #fafafa;
  border-bottom: 1px solid #fafafa;
  font-size: 13px;
  text-transform: none;
  letter-spacing: .1px;
  padding: 5px 10px;
  color: rgba(71, 68, 68, 0.53);
}.panel-box{
  width: 100%;
  height: 100%;
  text-align: left;
  border: none;
}.panel-value{
  width: 60%;
  margin-top: 19px;
}.panel-icon{
  padding: 30px;
  width: 40%;
  border-radius: 0;
}.panel-icon{
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}.panel-value{
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}.panel-value h2{
  margin-top: 30px;
}
.panel-icon i{
  line-height:40px;
  font-size: 40px;
  color: #afb4b8;
}
#header {
  /* position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #eb6e22;
  width: 100%;
  height: 50px;
  line-height: 50px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 3px 10px rgba(0,0,0,0.25); */
  position: fixed;
  z-index: 99;
  /* top: 0; */
  /* left: 0; */
  background-color: #eb6e22;
  width: 100%;
  height: 40px;
  line-height: 43px;
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
  /* -moz-box-shadow: 0 2px 5px rgba(0,0,0,.26);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26);
  box-shadow: 0 2px 5px rgba(0,0,0,.26); */
} header > .logo {
  /* color: #fff;
  text-align: center;
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 1px;
  display: inline-block;
  width: 220px;
  background-color: #eb6e22;
  margin-left: -25px;
  font-size: larger; */
  /* color: #fff;
  text-align: left;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0px;
  display: inline-block;
  width: 330px;
  background-color: #eb6e22;
  margin-left: 20px;
  font-size: 16px; */
  color: #eb6e22;
  /* text-align: left; */
  font-weight: 550;
  text-transform: capitalize;
  letter-spacing: 0px;
  display: inline-block;
  width: 210px;
  background-color: white;
  margin-left: -20px;
  font-size: 25px;
}.header-date{
  color: white;
  margin-left: 20px;
}
.info-menu{
  height: 40px;
  margin: 0;
  line-height: 40px;
  padding: 0 15px;
}.info-menu li.profile {
  position: relative;
}.profile a.toggle{
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  color: white;
  position: relative;
  padding: 10px 10px 10px 10px;
  margin: 0;
  background: #eb6e22;
  border-radius: 30px;
}.info-menu li.profile a img{
  width: 30px;
  height: 30px;
}.dropdown-menu{
  margin-top: 0px;
  border-color: #fefefe;
  border-radius: 0;
   box-shadow: 0 2px 2px rgba(0,0,0,.10);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.10);
  -webkit-box-shadow:0 2px 2px rgba(0,0,0,.10);
  }.dropdown-menu li{
    margin: 0;
    padding: 0;
    display: block;
    line-height: 35px;
 }.dropdown-menu li a{
  text-decoration: none;
  display: block;
  font-size: 12px;
  position: relative;
  line-height: 25px;
  width: 100%;
  border-bottom: 1px solid #f4faf9;
}.dropdown-menu li a i{
  margin-right: 5px;
}.dropdown-menu li.last a{
  border-bottom: 0;
}.datepicker{
  text-align: center;
}
.sidebar {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  padding: 45px 0 0;
  height: 100%;
  width: 190px;
  background: white;
  /* border-right: 1px solid #ddd; */
  text-align: center;
  /* overflow-y: auto; */
  bottom: 0;

}
.sidebar:hover {
    /* overflow: auto; */
    overflow-y: auto; 
}
.dashboard_salesbycity:hover {
  overflow-y: auto;
  overflow-x: hidden;
}
.dashboard_products:hover {
    overflow-y: auto;
    overflow-x: hidden;
     /* padding-right: 1px; */
}
.dashboard_products_avail:hover {
    overflow-y: auto;
    overflow-x: hidden;
     /* padding-right: 1px; */
}
.sidebar::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	/* border-radius: 10px; */
	background-color: #F5F5F5;
}
.dashboard_salesbycity::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	/* border-radius: 10px; */
	background-color: #F5F5F5;
}
.dashboard_products::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	/* border-radius: 10px; */
	background-color: #F5F5F5;
}
.dashboard_products_avail::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	/* border-radius: 10px; */
	background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}
.dashboard_salesbycity::-webkit-scrollbar {
  width: 2px;
	background-color: #F5F5F5;
}
.dashboard_products::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}
.dashboard_products_avail::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar-thumb
{
	/* border-radius: 10px; */
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
	background-color: #eb6e22;
}
.dashboard_salesbycity::-webkit-scrollbar-thumb {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
	background-color: #eb6e22;
}
.dashboard_products::-webkit-scrollbar-thumb
{
	/* border-radius: 10px; */
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
	background-color: #eb6e22;
}
.dashboard_products_avail::-webkit-scrollbar-thumb
{
	/* border-radius: 10px; */
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
	background-color: #eb6e22;
}
.sidebar ul li:hover,.submenu ul li:hover{
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}.sidebar ul{
  list-style: none;
  margin: 0;
  padding: 0;
}.sidebar ul li {
  display: block;
}.sidebar ul li:hover,ul.submenu{
  background-color:#eb6e22;
}.sidebar ul li a:hover {
  color: white;
}.sidebar ul li a,ul.submenu li a {
  color: #5f5f5f;
  display: block;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  text-align: left;
}.sidebar ul li a span,.sidebar ul li i{
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1.2px;
  /* text-shadow: 0 1px rgba(0,0,0, 1); */
}.sidebar ul li a i{
  color: #aeb2b7;
  padding: 11px 15px;
  text-align: center;
}ul.submenu{
  display: none;
  position: relative;
}ul.submenu li a:hover{
  background-color:#eb6e22;
}ul.submenu li a {
  padding-left: 45px;
  color: white;
  font-size: 13px;
}ul.submenu li:before{
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 25px;
  top: 0;
  bottom: 0;
  border: 1px dotted #d7d7d7;
  border-width: 0 0 0 1px;
}ul.submenu li a:before{
  content: "";
  display: inline-block;
  position: absolute;
  width: 7px;
  left: 25px;
  top: 18px;
  border-top: 1px dotted #d7d7d7;
}

.sale_report_header{
  padding: 15px 0;
}
table td h6{
  margin: 0 0 0.2em 0;
}
table tfoot tr td:first-child{
  border: 0;
}table tfoot tr td:last-child{
  border-top: 1px solid #ccc;
}table td h6,table tfoot tr td:last-child{
  color: #000;
  _font-size: 1.2em;
  font-weight: normal;
}
.form-control{
  color: #646464;
  border: 1px solid #e6e6e6;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-transition: all .15s ease-out;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}.form-control:focus{
  background: transparent;
  border-color: #e86f3e;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /* text-transform: capitalize; */
}
.form-control:read-only {
  background: transparent !important;
}
.btn{
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: inherit;
  color: rgb(159, 156, 156);

}.btn:hover {
  color: white;
  background-color: rgb(232, 111, 62);
  outline: 0;
  outline-color: transparent;

}.btn:focus {
  color: white;
  background-color: rgb(232, 111, 62);
  outline: 0;
  outline-color: transparent;

}.btn-default {
  color: rgb(232, 111, 62);
  border-color: rgb(232, 111, 62);

}.btn-raised {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);

}.btn-primary {
    color: #fff;
    background-color: #51aded;
    /* border-color: #3d8fd8 */
    
}.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active{
    color: #fff;
    background-color: #3175b8;
    /* border-color: #3d8fd8; */
    outline: none;
    outline-color: transparent;

}.btn-success{
   background-color:#2ecc71;

}.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active{
  background-color:#27ae60;
  outline: none;
  outline-color: transparent;

}.btn-warning{
  background-color: #e86f3e;
  border-color: transparent;

}.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active{
  background-color:#e86f3e;
  color: white;
  border-color: transparent;
  outline: none;
  outline-color: transparent;

}.btn-danger{
  /* background-color: #ed5153 */
    background-color: #ea703e;
    color: white;
    border-color: transparent;

}.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active{
  background-color:#e86f3e;
  border-color: transparent;
  outline: none;
  outline-color: transparent;
  
}.input-group-addon{
  background-color: #fcfcfc;
  border: 1px solid #dbdbdb;
  border-radius: 0;

}input[type=file]{
  text-indent: -99999px;

}td img.img-thumbnail{
  width: 125px;
  height: 125px;
  vertical-align: top;
}.img-avatar{
  width: 50px;
  height: 50px;
}
.jumbotron{
  margin-bottom: 0;
}.list-group-item:first-child,.list-group-item:last-child{
  border-radius: 0;
}.profile .jumbotron{
  border-radius: 3px 3px 0 0;
}.profile .jumbotron h3{
  color: #969696;
}img.img-size-2{
  width: 125px;
  height: 125px;
}
.panel {
  margin-bottom:5px;
  background-color:#ffffff;
  border:1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04);
}
.alert-danger{
    color: #ffffff;
    background-color: #FF9800;
    border-color: #ebccd1;
    font-style: bold;
    box-shadow: 0 2px 2px rgba(0,0,0,.17);
    -webkit-animation: alert 5s ease forwards;
    -moz-animation: alert 5s ease forwards;
     -ms-animation: alert 5s ease forwards;
      -o-animation: alert 5s ease forwards;
         animation: alert 5s ease forwards;
}

.alert-success {
  color: white;
  background-color: #4CAF50;
  border-color: #d6e9c6;
  font-style: bold;
  box-shadow: 0 2px 2px rgba(0,0,0,.17);
  -webkit-animation: alert 5s ease forwards;
  -moz-animation: alert 5s ease forwards;
   -ms-animation: alert 5s ease forwards;
    -o-animation: alert 5s ease forwards;
       animation: alert 5s ease forwards;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 1px;
  font-style: bold;
  -webkit-animation: alert 5s ease forwards;
  -moz-animation: alert 5s ease forwards;
   -ms-animation: alert 5s ease forwards;
    -o-animation: alert 5s ease forwards;
       animation: alert 5s ease forwards;
}
.table-bordered {
  border: 1px solid white;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid rgba(242, 242, 242, 0);
  color: gray;
  font-size: medium;
} 
a.list-group-item {
  color: gray;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 5px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(242, 242, 242, 0);
}
a.list-group-item .list-group-item-heading {
  color: gray;
  text-transform: elipsis;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.list-group {
    padding-left: 0;
    margin-bottom: 15px;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 90%;
    font-weight: 800;
    line-height: 1;
    color: #f5f5f5;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.labelcurrency {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 90%;
    font-weight: 800;
    line-height: 1;
    color: #3e3e3e;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}.panel-body {
  /* padding: 5px; */
  padding: 10px;
  margin-top: -5px;
}

/* li.active {
    color: red;
    background-color: black;
} */

.footer {
  position: fixed;
  float: right;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  /* padding: 1rem; */
  background-color: rgba(245, 245, 245, 0.93);
  text-align: right;
  font-size: 13px;
}
.noti {
  position: fixed;
  float: right;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  /* padding: 1rem; */
  background-color: transparent;
  text-align: left;
  z-index: 99 ;
}
.list-inline>li {
  display: inline-block;
  padding-right: 0px;
  padding-left: 5px;
}
.row {
  /* margin-right: 15px; */
  /* margin-left: 15px; */
  margin-bottom: 15px;
}
.code {
  text-transform: uppercase;
}
.initial_input {
  text-transform: capitalize !important;
}
.dashboard_salesbycity {
  height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color:#fff;
  border:1px solid transparent;
  border-radius: 1px;
  /* -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 2px 2px rgba(0,0,0,.15); */
}
.dashboard_products {
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color:#fff;
  border:1px solid transparent;
  border-radius: 1px;
  /* -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 2px 2px rgba(0,0,0,.15); */
}
.dashboard_products_avail {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color:#fff;
  border:1px solid transparent;
  border-radius: 1px;
  /* -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 2px 2px rgba(0,0,0,.15); */
}

 td.red {
      color: red !important;
    }
    td.green {
      color: green !important;
    }
.red {
  color: red !important;
}
.centered {
      position: fixed;
      top: 35%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      background-color: #fafafa;
      border: 1px solid #f2f2f2;
      box-shadow: 0 2px 2px rgba(0,0,0,.15);
      padding: 0 20px;
      width: 330px;
    }
    .nextcentered {
      position: relative;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* background-color: #fafafa; */
      /* border: 1px solid #f2f2f2; */
      /* box-shadow: 0 2px 2px rgba(0,0,0,.15); */
      padding: 0 20px;
      width: 330px;
      color: gray;
     
      /* display: inline-block; */
    }.nextcentered p {
      font-size: xx-small;
    }
p {
  margin: 0 0 10px;
  font-size: 13px;
}
.breadcrumb {
    padding: 0px 5px;
    margin-bottom: -10px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-size: initial;
}
.title_name {
  color: white !important;
}
.md {
  border-right: none;
  border-top: none;
  border-left: none;
  
}
.view_prod {
  border-right: none !important;
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
}
.logo_login {
  margin-top: 25px;
}
.progress-widget {
    padding: 20px;
    cursor: pointer;
}
.progress {
    height: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
  input {
    height: 100%;
  }
  p {
    font-size: 25px;
  }
  h4 {
      font-size: 40px;
    }
  h5 {
    font-size: 40px;
  }
  .centered {
    height: 50%;
    width: 90%;
    /* background-color: red; */
    font-size: 15px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}